# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# macOS
.DS_Store

# PyCharm IDE
.idea/

# VSCode IDE
.vscode/

# Pytest cache
.pytest_cache/

# FastAPI logs
logs/
*.log

# Environment variables and settings files
.env
*.env

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Uvicorn logs and files
*.pid

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# MyPy cache
.mypy_cache/

# SQLite Database (if any)
*.sqlite3
*.db

# Ignore docker-related files
docker-compose.override.yml

# Ignore compiled wheel files
*.whl
